:root {
  --navbar-bg-color: #2d0b00;
  --text-color: #ffffff;
  --hover-color: #666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-bg-color);
  padding: 1rem 2rem;
  position: relative;
}


.Documents-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 45px;
  border: none;
  padding: 0px 15px;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.folderContainer {
  width: 40px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.fileBack {
  z-index: 1;
  width: 80%;
  height: auto;
}
.filePage {
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease-out;
}
.fileFront {
  width: 85%;
  height: auto;
  position: absolute;
  z-index: 3;
  opacity: 0.95;
  transform-origin: bottom;
  transition: all 0.3s ease-out;
}
.text {
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.Documents-btn:hover .filePage {
  transform: translateY(-5px);
}

.Documents-btn:active {
  transform: scale(0.95);
}
.Documents-btn:hover .fileFront {
  transform: rotateX(30deg);
}

.navbar-links {
  display: flex;
  list-style: none;
  position: relative;
  right: 40%;
}

.navbar-links li {
  margin-right: 1rem;
}

.navbar-links a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: var(--hover-color);
}

.navbar-center {
  position: absolute;
  right: 0;
  transform: translateX(-50%);
}

.create-resume-btn {
  background-color: var(--text-color);
  color: var(--navbar-bg-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.create-resume-btn:hover {
  background-color: var(--text-color);
  color:var(--hover-color) ;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--text-color);
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .navbar {
    top: 0;
  }
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--navbar-bg-color);
    padding: 1rem 0;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links li {
    margin: 0.5rem 0;
    text-align: center;
  }

  .navbar-center {
    position: relative;
    top: -6px;
    left: -40px;
    transform: none;
    margin-top: 1rem;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar {
    flex-wrap: wrap;
  }

  .navbar-logo {
    flex: 1;
    left: -9%;
        position: relative;
  }
}

main {
  padding: 2rem;
}


  